* {
   padding: 0px;
   margin: 0px;
   box-sizing: border-box;
}

body {
   font-family: roboto;
}

p {
   height: auto;
   width: 300px;
}

.header {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   height: 40px;
   background-color: #1f2937;
   color: white;
}

.logo {
   font-size: 20px;
}

.header ul {
   display: flex;
   gap: 10px;
   list-style-type: none;
   align-content: center;
   padding-left: 60px;
}

.header ul a {
   text-decoration: none;
   color: white;
   padding: 10px;
}



.first-row {
   flex: 3;
   display: flex;
   background-color: #1f2937;
   color: white;
   height: 360px;
}

.body .first-row .left-item {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 30px;
   padding: 40px;
}

.second-row {
   width: 1420px;
   height: 360px;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
}

.second-row-header {
   height: 75px;
   margin-top: 20px;
}

.second-row-items ul {
   display: flex;
}

.third-row {
   width: 1420px;
   height: 360px;
   background-color: #e5e7eb;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.fourth-row {
   width: 1420px;
   height: 360px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.fourth-row-box {
   
}


.footer {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 40px;
  
}
